name: Deploy Content Server
on:
  push:
    branches:
      - main
jobs:
  build:
    if: true
    name: Deploy Backend
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /www/wwwroot/servers-msjmedia/content-api
            eval $(ssh-agent)
            ssh-add /home/mdshahin/.ssh/movie_site_deploy_key
            git pull
            /home/mdshahin/.nvm/versions/node/v22.18.0/bin/npm install
            /home/mdshahin/.nvm/versions/node/v22.18.0/bin/npm run build
            /home/mdshahin/.nvm/versions/node/v22.18.0/bin/pm2 restart movie-content-server